@import 'reset.css';
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  width: 100%;
}
ul {
  padding: 0px;
  list-style: none;
}
/* 字体加粗的公共样式 */
.fw-550 {
  margin-left: 8px;
  font-weight: 550;
}
span {
  font-size: 14px !important;
  color: #464545;
}